<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>ChatBoard</title>
  </head>
  <body>
    <div class="chat-container">
      <header class="chat-header">
        <h1>ChatBoard</h1>
        <a href="/index" class="btn">Leave Room</a>
      </header>
      <main class="chat-main">
        <div class="chat-sidebar">
          <h3>Room Name:</h3>
          <h2 id="room-name">{{room}}</h2>
          <h3> Users</h3>
          <ul id="users"></ul>
        </div>
        <div class="chat-messages"></div>
        <div id="feedback"></div>
      </main>
      <div class="chat-form-container">
        <form id="chat-form" action="chat" method="POST" >
          <input
            id="msg"
            type="text"
            name="message"
            placeholder="Enter Message"
            autocomplete="off"
          />
          <input id="file" type="file" name="file" autocomplete="off" />
          <button class="btn" type="submit">Send</button>
        </form>


        
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
      integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script>

    // $(document).ready(function(){

    //     $('input[type="file"]').change(function(e){
    //         var file = document.getElementById("fileup");
    //         console.log(e.target.files[0]);
    //         var fileName = e.target.files[0].name;

    //         alert('The file "' + fileName +  '" has been selected.');



    //     });

    // });

</script>
    <script src="js/main.js"></script>
  </body>
</html>
