<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
	
<form id="form" method="POST" action="chat.html">
          <input type="file" id="file" name="myfile" autocomplete="off" />
          <button class="btn" type="submit">Send</button>
        </form>
</body>
</html>